

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-size: 10px;
    scroll-behavior: smooth;
    
    
}

html {
    font-size: 10px;
}

body {
    background-color: #222222;
    
}

.hidden {
    display: none;
}

.header {
    width: 100%;
    padding-top: 7rem;
    padding-bottom: 20rem;
    position: relative;
        
}

.opa-on {
    animation: opaOn 1s linear  1 normal forwards;
}

.opa-off {
    animation: opaOff 2s linear  1 normal forwards;
}


#myVideo {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translate(-50%, -50%);
    opacity: 0.1;
    filter: grayscale(20%);
}



.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.navigation {
    grid-column: 2 / 12;
    justify-self: right;
    opacity: 0.1;
    transition: 1s;
    border-radius: 20px;
    
}




.navigation:hover {
    opacity: 1;
    background-color: rgba($color: #ffffff, $alpha: 0.15);
    backdrop-filter: blur(5px);

}

.navigation-list {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1.5rem;
    

    li {
        display: inline;
        list-style-type: none;
        color: #F1F1F1;
        font-family: 'Orbitron', sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 2rem;
        cursor: pointer;
        transition: 0.5s;
       

    }

    li:after {
        content: "";
        display: block;
        position: relative;
        width: 100%;
        height: 2px;
        bottom: -1rem;
    }

    li:nth-child(2) {
        margin: 0 37px;
    }

    li:hover {
        color: #F5AE13;
        transition: 0.3s;
       
    }
    
}

@media (max-width:575px) {
    .navigation {
        justify-self: center;
        ul {
            li {
                font-size: 1.7rem;
            }
        }
    }

  
 }


.title {
    grid-column: 2 / 12;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    margin: 17.4rem 0;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 5rem;
    color: #F1F1F1;
    overflow: hidden;
    border-right: 0.1rem solid #F5AE13;
    letter-spacing: 0.1rem;
    white-space: nowrap;
    margin: 0 auto;
    display: inline-block;
    animation: type 3s steps(20, end), cursor 0.5s step-end 6 forwards;
 
}



.header-subtitle {
    font-size: 3.5rem;
    color: #F5AE13;
    margin-top: 2rem;
    overflow: hidden;
    border-right: 0.1rem solid transparent;
    letter-spacing: 0.1rem;
    white-space: nowrap;
    width: 0%;
    margin: 2rem auto;
    animation: type 3s steps(20, end) 3s 1 forwards, cursor 0.5s 3s step-end 5 forwards ;
  
}


.read-more-btn {
    font-family: 'Orbitron', sans-serif;
    grid-column: 2 / 12;
    justify-self: center;
    color:#F1F1F1;
    transform: rotate(90deg);
    cursor: pointer;
    padding-bottom: 1rem;
    position: relative;
}



.read-more-btn::before {
    content: "";
    display: block;
    position: absolute;
    height: 0.5rem;
    background-color: #f1f1f1;
    top: 3rem;
    left: 0;
    transform: translate(90deg);
    animation: readMoreLine 2s ease-in-out infinite;
}

.read-more-text {
    font-size: 2rem;
    animation: flashingText 2s 2s linear infinite;
}

/// header animations \\\

@keyframes type {
    0% {width: 0;}
    100% {width: 49%;}
}

@keyframes cursor {
    0% {border-color: transparent;}
    50% {border-color: #F5AE13;}
    100% {border-color: transparent;}
}

@keyframes opaOn {
    from {opacity: 1;}
    to {opacity: 0}
}

@keyframes opaOff {
    from {opacity: 0}
    to {
        opacity: 1;
    }
}

@keyframes readMoreLine {
    from {width: 0; opacity: 0;}
    to {width: 150%; opacity: 1;}
}

@keyframes flashingText {
    from {opacity: 0;}
    to {opacity: 1;}
}

/// all sections \\\

.section-box {
    background: #222222;
    box-shadow: 0 3px 20px rgba($color: #000000, $alpha: 0.16);
    padding: 5rem 0;
    align-items: center;
}

.section-drive {
    animation: wjazd 1s ease-in-out 0.3s 1 normal forwards;
}

.section-drive-back {
    animation: wjazd-back 1s ease-in-out 1 normal forwards;
}

@keyframes wjazd {
    0% {transform: translate(-2000px);}

    50% {transform: translate(0);}

    75% {transform: translate(-200px);}
    
    100% {transform: translate(0);}
}

@keyframes wjazd-back {
    0% {transform: translate(0);}

    
    100% {transform: translate(-2000px);}
}

.section-title {
    transform: translate(-2000px);
    
}

.title-drive {
    animation: titleOpa 0.3s ease-in-out 1s 1 normal forwards;
}

.title-drive-back {
    animation: titleOpaBack 0.3s ease-in-out 1 normal forwards;
}


@keyframes titleOpa {
    0% {transform: translate(-2000px);}
    100% {transform: translate(0);}
}

@keyframes titleOpaBack {
    0% {transform: translate(0);}
    100% {transform: translate(-2000px);}
}


//// about section \\\

.about-section {
    transform: translate(-2000px);
}

.about-title {
    
    font-family: 'Orbitron', sans-serif;

    grid-column: 2 / 5;
}

.about-text {
    grid-column: 5 / 12;
    color: #f1f1f1;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7rem;
    line-height: 1.5;
}


/// projects section\\\

.projects-section {
    margin: 7rem 0;
    transform: translate(-2000px);
}

.project-title {
    grid-column: 8 / 12;
    text-align: right;
    grid-row:  1 / 2;
    color: #f1f1f1;
    
    font-family: 'Orbitron', sans-serif;
 
    justify-content: center;
}

.project-container {
    grid-column: 2 / 12;
    grid-row: 2 / 3;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 180px);
    grid-gap: 1rem;
    margin-top: 5rem;
}

.project-box {
    // background-color: rgba($color: #ffffff, $alpha: 0.15);
    // backdrop-filter: blur(5px);
    width: 180px;
    height: 180px;
    background-size: 200%;
    background-repeat: no-repeat;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    .plus {
        display: none;
        width: 100%;
        font-weight: 900;
        text-align: center;
        z-index: 10;
        transition: 1s;
        cursor: pointer;
        color: #F5AE13;
        font-size: 3rem;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        div {
            margin: 1rem 0;
        }

        a {
            color: inherit;
            text-decoration: none;
            transition: 0.3s;
            
        }

        a:hover {
            color: #222222;
           
       
        }
     
    }
    .box-opa {
        width: 100%;
        height: 100%;
        // background-color: #ffffff;
        // opacity: 0;
        transition: 1s;
        position: absolute;
    }
    
    
}



.project-box:hover {
    background-size: 100%;
    .plus {
        display: flex;  
    }
    .box-opa {
       background-color: rgba($color: #ffffff, $alpha: 0.15);
        backdrop-filter: blur(5px);
    }
    
   
}





.first-project {
    
    background-image: url('images/pacman.jpg');
    
}

.second-project {
 
    background-image: url('images/vanzer.jpg');
  
}

.third-project {
  
    background-image: url('images/rock.jpg');
   
}

.fourth-project {
    
    background-image: url('images/job.jpg');
   
}

.fifth-project {
    background-image: url('images/job.jpg');
}

.sixth-project {
  
    background-image: url('images/job.jpg');
}

.project-information {
    display: none;
    background-color: #F5AE13;
    color: #ffffff;
    font-size: 2rem;
}

.active {
    display: block;
}



/// contact section \\\

.contact-section {
    transform: translate(-2000px);
}

.contact-title {
    font-family: 'Orbitron', sans-serif;
 
    grid-column: 2 / 5;
}



.form {
    grid-column: 7 / 12;
    
    input {
        display: block;
        width: 100%;
        margin-bottom: 2rem;
        background-color: #212121;
        color: #F1F1F1;
        font-size: 2rem;
        padding: 2rem;
        border: 1px solid #F5AE13;
        border-radius: 8px;
        outline: none;

    }
    textarea {
        display: block;
        width: 100%;
        background-color: #212121;
        color: #F1F1F1;
        font-size: 2rem;
        padding: 2rem;
        resize: none;
        border: 1px solid #F5AE13;
        border-radius: 8px;
        outline: none;
    }
}

.submit-btn {
    grid-column: 7 / 12;
    margin-top: 2rem;
    border: 1px solid #F5AE13;
    border-radius: 8px;
    outline: none;
    background: none;
    color: #F1F1F1;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 2rem 0;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.submit-btn:hover {
    background: #f1f1f1;
    color: #F5AE13;
}

/// footer \\\

.footer {
    font-family: 'Orbitron', sans-serif;
    margin-top: 5rem;
    padding: 5rem 0;
    color: #F1F1F1;
    text-align: center;
    background-color: #212121;
    box-shadow: 0 3px 30px rgba($color: #000000, $alpha: 0.16);
}

.footer-text {
    font-size: 1rem;
    line-height: 2rem;
    text-align: center;
    grid-column: 1 / 13;
}

.orange {
    color: #F5AE13;
    font-family: 'Orbitron', sans-serif;
    font-size: 5rem;
}

.white {
    color: #f1f1f1;
    font-family: 'Orbitron', sans-serif;
    font-size: 5rem;
}



//// media \\\\

@media (max-width: 1100px) {
    .orange {
        color: #F5AE13;
        font-family: 'Orbitron', sans-serif;
        font-size: 3.5rem;
    }
    
    .white {
        color: #f1f1f1;
        font-family: 'Orbitron', sans-serif;
        font-size: 3.5rem;
    }
    
}

@media (max-width: 826px) {
    
    h1 {
        font-size: 4rem;
      }
    
    .header-subtitle {
        font-size: 2.5rem;
    }
    @keyframes type {
        0% {width: 0;}
        100% {width: 69%;}
    }
    
    .about-title {
        grid-column: 2 / 12;
    }
    
    .about-text {
        grid-column: 2 / 12;
        margin-top: 2rem;
        font-size: 1.6rem;
        
    }
    .project-title {
        grid-column: 2 / 12;
     
    }
    

    // .first-project {
    //     grid-column: 2 / 6;    
    //     grid-row:  2 / 3;
    //     margin-top: 5rem;
    // }
    
    // .second-project {
    //     grid-column: 7 / 11;
    //     grid-row:  2 / 3;
    //     margin-top: 5rem;
      
    // }
    
    // .third-project {
    //     grid-column: 2 / 6;
    //     grid-row:  3 / 4;
    //     margin-top: 2rem;
       
    // }
    
    // .fourth-project {
    //     grid-column: 7 / 11;
    //     grid-row: 3 / 4;
    //     margin-top: 2rem;
       
    // }
    
    // .fifth-project {
    //     grid-column: 2 / 6;
    //     grid-row: 4 / 5;
    //     margin-top: 2rem;
    //     justify-content: end;
    // }
    
    // .sixth-project {
    //     grid-column: 7 / 11;
    //     grid-row: 4 / 5;
    //     margin-top: 2rem;
    // }


    .contact-title {
        grid-column: 2 / 12;
    }
    
    .form {
        grid-column: 2 / 12;
        margin-top: 2rem;
        
        input {
            display: block;
            width: 100%;
            margin-bottom: 2rem;
            background-color: #212121;
            color: #F1F1F1;
            font-size: 2rem;
            padding: 2rem;
            border: 1px solid #F5AE13;
            border-radius: 8px;
            outline: none;
    
        }
        textarea {
            display: block;
            width: 100%;
            background-color: #212121;
            color: #F1F1F1;
            font-size: 2rem;
            padding: 2rem;
            resize: none;
            border: 1px solid #F5AE13;
            border-radius: 8px;
            outline: none;
        }
    }
    
    .submit-btn {
        grid-column: 2 / 7;
        margin-top: 2rem;
    }




}

// @media (max-width: 691px) {
//     html {
//         font-size: 8px;
//     }
// }





@media (max-width: 478px) {
    @keyframes type {
        0% {width: 0;}
        100% {width: 100%;}
    }

    html {
        font-size: 7px;
    }
}

@media (max-width: 422px) {
    .navigation {
        display: none;
    }

  
}